In [39]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [40]:
df = pd.read_csv(r'C:\Users\JOE\Desktop\task 2\credit_card_purchases.csv')

In [41]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

In [42]:
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Unnamed: 0                    0
trans_date_trans_time         0
cc_num                        0
merchant                      0
category                      0
amt                           0
first                         0
last                          0
gender                        0
street                        0
city                          0
state                         0
zip                           0
lat                           0
long                          0
city_pop                      0
job                           0
dob                           0
trans_num                     0
unix_time                     0
merch_lat                     0
merch_long                    0
is_fraud                      0
merch_zipcode            195973
dtype: int64

In [43]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
print("Numeric columns:", numeric_cols)

Numeric columns: Index(['Unnamed: 0', 'cc_num', 'amt', 'zip', 'lat', 'long', 'city_pop',
       'unix_time', 'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

In [44]:
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [45]:
categorical_cols = df.select_dtypes(include=[object]).columns
print("Categorical columns:", categorical_cols)
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

Categorical columns: Index(['trans_date_trans_time', 'merchant', 'category', 'first', 'last',
       'gender', 'street', 'city', 'state', 'job', 'dob', 'trans_num'],
      dtype='object')

In [46]:
Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1
outliers = ((df[numeric_cols] < (Q1 - 1.5 * IQR)) | (df[numeric_cols] > (Q3 + 1.5 * IQR))).sum()
print("Outliers in each column:\n", outliers)

Outliers in each column:
 Unnamed: 0            0
cc_num           118789
amt               67290
zip                   0
lat                4679
long              49922
city_pop         242674
unix_time             0
merch_lat          4967
merch_long        41994
is_fraud           7506
merch_zipcode         0
dtype: int64

In [47]:
df = df[~((df[numeric_cols] < (Q1 - 1.5 * IQR)) | (df[numeric_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [48]:
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [49]:
X = df.drop('is_fraud', axis=1)  # Drop the target column for features
y = df['is_fraud']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [51]:
print("Training set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)

Training set shape: (703953, 23)
Testing set shape: (175989, 23)

In [52]:
print("Processed Data Information:")
print(df.info())

print("Processed Data Description:")
print(df.describe())

Processed Data Information:
<class 'pandas.core.frame.DataFrame'>
Index: 879942 entries, 0 to 1296673
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             879942 non-null  float64
 1   trans_date_trans_time  879942 non-null  object
 2   cc_num                 879942 non-null  float64
 3   merchant               879942 non-null  object
 4   category               879942 non-null  object
 5   amt                    879942 non-null  float64
 6   first                  879942 non-null  object
 7   last                   879942 non-null  object
 8   gender                 879942 non-null  object
 9   street                 879942 non-null  object
 10  city                   879942 non-null  object
 11  state                  879942 non-null  object
 12  zip                    879942 non-null  float64
 13  lat                    879942 non-null  float64
 14  long                   879942 non-null  float64
 15  city_pop               879942 non-null  float64
 16  job                    879942 non-null  object
 17  dob                    879942 non-null  object
 18  trans_num              879942 non-null  object
 19  unix_time              879942 non-null  float64
 20  merch_lat              879942 non-null  float64
 21  merch_long             879942 non-null  float64
 22  is_fraud               879942 non-null  float64
 23  merch_zipcode          879942 non-null  float64
dtypes: float64(12), object(12)
memory usage: 167.8+ MB
None
Processed Data Description:
         Unnamed: 0        cc_num           amt           zip           lat  \
count  8.799420e+05  8.799420e+05  8.799420e+05  8.799420e+05  8.799420e+05
mean  -3.100754e-17 -4.534207e-16  9.418542e-17 -9.823093e-17 -2.213729e-16
std    1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00
min   -1.733976e+00 -1.075793e+00 -1.146105e+00 -1.745331e+00 -2.759101e+00
25%   -8.648580e-01 -1.059164e+00 -9.562885e-01 -8.920662e-01 -7.631382e-01
50%   -9.179146e-04  1.520597e-01 -1.365020e-01  2.671320e-02  1.749407e-01
75%    8.656899e-01  8.252590e-01  6.014434e-01  8.361178e-01  6.912701e-01
max    1.732113e+00  1.916970e+00  3.263915e+00  2.108764e+00  2.139138e+00

               long      city_pop     unix_time     merch_lat    merch_long  \
count  8.799420e+05  8.799420e+05  8.799420e+05  8.799420e+05  8.799420e+05
mean   1.191045e-17 -7.315843e-18 -5.692985e-15 -4.014670e-15  1.081372e-15
std    1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00
min   -2.866478e+00 -5.826676e-01 -1.860808e+00 -2.953478e+00 -2.939102e+00
25%   -6.365364e-01 -5.146903e-01 -8.169075e-01 -7.717046e-01 -6.468444e-01
50%    1.457181e-01 -3.911808e-01 -5.040459e-04  1.620642e-01  1.251216e-01
75%    7.597886e-01 -3.016180e-02  7.894717e-01  6.946322e-01  7.711233e-01
max    1.790659e+00  5.072827e+00  1.757956e+00  2.338327e+00  1.875806e+00

       is_fraud  merch_zipcode
count  879942.0   8.799420e+05
mean        0.0  -3.777430e-17
std         0.0   1.000001e+00
min         0.0  -1.917674e+00
25%         0.0  -8.013341e-01
50%         0.0   7.492062e-02
75%         0.0   7.682133e-01
max         0.0   2.453250e+00